@page
@using Todo.Web.Entities
@model Todo.Web.Pages.AddModel
@{
    ViewData["Title"] = "Add a TODO";
}

<h1 class="mb-5">@ViewData["Title"]</h1>

@if (Model.NothingToDo == NothingToDo.FirstTry)
{
    <div class="alert alert-danger" role="alert">
        <p>Of course you have something to do. <strong>Everyone</strong> does.</p>
        <a asp-page="/Add" asp-route-nothingToDo="@NothingToDo.SecondTry" class="btn btn-secondary">
            No, really, I've got nothing to do!
        </a>
    </div>

}
else if (Model.NothingToDo == NothingToDo.SecondTry)
{
    <div class="alert alert-success" role="alert">
        Oh, really? Now you have something to do. :-)
    </div>
}

<form method="post">
    <div class="form-group">
        <label asp-for="TodoNote.Text"></label>
        <input asp-for="TodoNote.Text" class="form-control" />
        <span class="text-danger" asp-validation-for="TodoNote.Text"></span>
    </div>
    <div class="form-group">
        <label asp-for="TodoNote.DueBy"></label>
        <input asp-for="TodoNote.DueBy" class="form-control" style="width: 15em" />
        <span class="text-danger" asp-validation-for="TodoNote.DueBy"></span>
    </div>

    <div class="mt-5">
        <button type="submit" class="btn btn-primary mr-2">Create</button>
        <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
